<footer class="site-footer">
    <div class="site-identity">
        <p ><a href="#"> <%= new Date().getFullYear() %></a> Made by Vansh❤️ | All Right Reserved</p>
    </div>
</footer>
</body>
</html>
